.user {
}

.user .login {
}

.user .login .slogan {
    width: 100%;
    padding: 128px 0 32px 0;
    text-align: center;
    font-size: xx-large;
}

.user .verify {
}

.user .verify .notice {
    padding-top: 128px;
    font-size: x-large;
}

.user .verify .detail {
    padding-bottom: 32px;
    font-size: small;
    color: gray;
}